@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    padding: 1% 5%;
    padding-right: 10%;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 7rem;
    width: 13rem;
}

.navbar-toggler {
    outline: 0;
    border: none;
    box-sizing: border-box;
    font-size: 30px;
    fill: orangered;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    font-weight: 700;
    color: #000;
    font-size: 18px;
    margin-right: 20px;
}

.d-block {
    height: 115vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: zoom 7s ease-in-out;
}

.carousel-caption {
    position: absolute;
    top: 50%;
}

@keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

hr {
    outline: 0;
    border-bottom: 2px solid #fff;
    width: 150px;
}

.showText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.worldClass {
    margin: 0px 8px;
    font-weight: 100;
    animation: worldclass 1s ease-in;
}

.certified {
    animation: worldclass 1s ease-in;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.certifiedd {
    animation: worldclass 1s ease-in;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}


.hr1 {
    animation: hr1 1s ease-in;
}

.hr2 {
    animation: hr2 1s ease-in;
}

.welcome {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    animation: welcome 3s  1s ease-out;
    animation-fill-mode: backwards;
}

.train {
    font-weight: 200;
    font-size:25px;
    animation: learn 1s ease-in;
    margin-top: -20px;
}

.now {
    animation: worldclass 1s 1.2s ease-in;
    animation-fill-mode: backwards;
    margin-top: -50px;
}

@keyframes worldclass {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes hr1 {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
}

@keyframes hr2 {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
}

@keyframes welcome {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.learn:link, .learn:visited {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    animation: learn 1s ease-in;
}

.learned:link, .learned:visited {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    animation: welcome 2s 1.2s ease-in;
    animation-fill-mode: backwards;
}

.learnedd:link, .learnedd:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    animation: worldclass 2s 2.2s ease-in;
    animation-fill-mode: backwards;
}


@keyframes learn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    /* display: none; */
    /* color: #f50101; */
    /* background-color: #ffffff; */
    height: 5rem;
    width: 5rem;
}

.partTwo {
    padding: 5%;
}

.img-gathering {
    width: 100%;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bH {
    margin-top: 100px;
    /* animation: brief 2s ; */
}

.brief {
    color: rgb(74, 173, 74);
    font-size: 4rem;
    font-weight: 300;
}

@keyframes brief {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.ehisCulinary {
    margin: 50px 0px;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7;
}

.learnmore {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: rgb(74, 173, 74);
    border: 2px solid #fff;
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .bH {
        position: absolute;
        top: 1500px;
    }
    .gathering {
        position: absolute;
        top: 1000px;
    }
    .green-background {
        position: absolute;
        top: 1050px;
    }
    
}

.green-background {
    background: linear-gradient(to right, rgba(74, 173, 74, 0.932), rgba(74, 173, 74,0.932)), url("images/IMG_4777-scaled.webp");
    height: 100vh;
    background-position: top;
}

.green-background {
    position: relative;
}

.green-background-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.object {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.provide {
    line-height: 30px;
    transform: translate(-15%, -50%);
    width: 150%;
    font-weight: 300;
}
